* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

/* ANIMAÇÃO ESQUERDA */

.slide-left {
  animation: slideLeft 1.2s ease forwards;
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(-150px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* ANIMAÇÃO DIREITA */

.slide-right {
  animation: slideRight 1.2s ease forwards;
}

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(150px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* ANIMAÇÃO TOPO */

.slide-top {
  animation: slideTop 1s ease forwards;
}

@keyframes slideTop {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* IMAGENS */

.zoom-image {
  transition: 0.5s;
}

.zoom-image:hover {
  transform: scale(1.05);
}

/* BOTÕES */

.premium-btn {
  margin-top: 30px;
  padding: 16px 35px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(135deg, #16a34a, #0b5d3b);
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s;
}

.premium-btn:hover {
  transform: translateY(-6px) scale(1.03);
  box-shadow: 0 15px 30px rgba(0,0,0,0.25);
}

/* MENU */

nav a {
  text-decoration: none;
  color: #111;
  font-weight: bold;
  position: relative;
  transition: 0.3s;
}

nav a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -5px;
  background: #16a34a;
  transition: 0.4s;
}

nav a:hover::after {
  width: 100%;
}